<!-- Front page HTML -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Flask App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
    <!-- This code connects WebsocketsIO to the index.html file, so it can update the
     display in real-time. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Waits to receive 'update_data' from socket's emit function in app.py
        // Once it receives it, it runs the function.
        // The parseFloat and toFixed(2) ensure that the data read is a float up to 2 decimal places.
        socket.on('update_data', function(data) {
            
            // Does nothing as of now

            console.log("Received data", data);
        });
        </script>

        <div class = "title">
            <img src="https://sites.tufts.edu/racing/files/2020/04/cropped-newlogo-2.png"
            width="337.5" length="750"/>
        </div>
        
        <h1>Houston - Tufts Racing Telemetry Webapp</h1>
        <!-- Write up-to-date sensor readings here!!! -->
         <style>
            table, th, td {
            border: 1px solid black; border-collapse: collapse;
            }
        </style>
        <div class = "container"> 
            <div class = "readings">
                <div class = "important">
                    <table>
                        <tr>
                            <td>Speed</td>
                            <td id = "speed-display"></td>
                        </tr>
                        <tr>
                            <td>Charge</td>
                            <td>TODO</td>
                        </tr>
                    </table>
                </div>
                <div class = "other-wrapper"> </div>
                <div id = "tableContainer" class = "other-readings"></div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <div class = "graphs">
                <canvas class="graph" id="graph1"></canvas>
                <select name = "links" id = "g1-1"><option value="" disabled selected>Select second sensor</option></select>
                <!-- <button onclick="clearGraph(g1)">Clear Graph</button> -->
                    <div class = "other">
                        <canvas class="graph" id="graph2"></canvas>
                        <!-- <button onclick="clearGraph(g2)">Clear Graph</button> -->
                        <canvas class="graph" id="graph3"></canvas>
                        <!-- <button onclick="clearGraph(g3)">Clear Graph</button> -->
                    </div>
                <div class = "hidden scatterArea", id="sc">
                    <canvas class ="graph" id="scatter"></canvas>
                </div>
            </div>
            <div class = "options"> 
                <div class = "changeGraphs"> 
                    <b>Change Graphs</b>
                    <select name = "links" id = "g1"><option value="" disabled selected>Select new sensor for graph 1</option></select>
                    <select name = "links" id = "g2"><option value="" disabled selected>Select new sensor for graph 2</option></select>
                    <select name = "links" id = "g3"><option value="" disabled selected>Select new sensor for graph 3</option></select>
                </div>
                <button id="openWeb">Upload From SD</button>
                <button id="scatterOn">View Scatterplot</button>
                <button class = "hidden" id="scatterOff">View Graphs</button>
                <div class = "hidden", id="scatterChoice">
                    <select name = "links" id = "scatterX"><option value="" disabled selected>Select new sensor for X-axis</option></select>
                    <select name = "links" id = "scatterY"><option value="" disabled selected>Select new sensor for Y-axis</option></select>
                </div>
                <div>
                    <td>Errors</td>
                    <td id = "errors"></td>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='table.js') }}"></script>
        <script src="{{ url_for('static', filename='graphs.js') }}"></script>
        <script src="{{ url_for('static', filename='buttons.js') }}"></script>
        <script src="{{ url_for('static', filename='graph-dropdowns.js') }}"></script>
        </div>

        
    </body>
</html>