<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Flask App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body style = "background: linear-gradient(to bottom right, #ff7e5f, #feb47b); ">
        <div class = "title">
            <img src="https://sites.tufts.edu/racing/files/2020/04/cropped-newlogo-2.png"
            width="337.5" length="750"/>
        </div>
        <button id = "upload">Upload Db File</button>
        <input type = "file" id = "file-input" style = "display: none">
        <script src="{{ url_for('static', filename='buttons.js') }}"></script>
    </body>
</html>